@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab&display=swap');

.sans {
    font-family: 'Josefin Sans', sans-serif;
}

.slab {
    font-family: 'Josefin Slab', serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #F5F5F5;
}

hr {
    border-color: #DDDDDD #DDDDDD #FFFFFF #FFFFFF;
    border-style: solid solid solid none;
    border-width: thin;
}

section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 96vmin;
}

section button {
    width: 20vmin;
    height: 2em;
}

section>div {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
    width: 100%;
}

select {
    width: 10vmin;
    height: 2em;
}

table {
    margin-top: 1em;
    table-layout: fixed;
    width: 100%;
}

table, td, th {
    border: thin solid white;
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background-color: lightgoldenrodyellow;
}

td {
    text-align: center;
    width: 40%;
    height: 1em;
}

td+td {
    text-align: center;
    width: 50%;
    height: 1em;
}

th {
    text-align: center;
    width: 10%;
    height: 1em;
}
